@model PeterGlozikUmbracoOsobnaStranka.lib.Models.ChangePasswordModel
@using PeterGlozikUmbracoOsobnaStranka.lib.Util

<div class="login-form">
    @using (Html.BeginUmbracoForm<PeterGlozikUmbracoOsobnaStranka.lib.Controllers.MemberController>("SavePassword", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="umbracoosobnastranka-form">
            @Html.AntiForgeryToken()
            <div class="form-item">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = CurrentLang.GetText("Views/ChangePassword", "Staré heslo") })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="form-item">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = CurrentLang.GetText("Views/ChangePassword", "Nové heslo") })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-item">
                @Html.LabelFor(m => m.NewPasswordRepeat)
                @Html.PasswordFor(m => m.NewPasswordRepeat, new { @class = "form-control", placeholder = CurrentLang.GetText("Views/ChangePassword", "Zopakovať nové heslo") })
                @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
            </div>

            @Html.ValidationSummary(true)
            <div class="form-section">
                <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-primary btn-lg">@CurrentLang.GetText("Views/ChangePassword", "Zmeniť heslo")</a>
                <input type="submit" id="submitButton" class="hidden" />
            </div>
        </div>
    }
</div>
