@model PeterGlozikUmbracoOsobnaStranka.lib.Models.LostPasswordModel
@using PeterGlozikUmbracoOsobnaStranka.lib.Util

<div class="login-form">
    @using (Html.BeginUmbracoForm<PeterGlozikUmbracoOsobnaStranka.lib.Controllers.MemberController>("SubmitLostPassword", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="osobnastranka-form">
            @Html.AntiForgeryToken()
            <div class="form-item">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = CurrentLang.GetText("Views/Login", "Váš e-mail") })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            @Html.ValidationSummary(true)
            <div class="form-section">
                <div class="row">
                    <div class="col-md-6">
                        <div class="submit">
                            <a href="#" onclick="document.getElementById('submitLoginButton').click(); return false;" class="btn btn-primary btn-lg">@CurrentLang.GetText("Views/Login", "Obnoviť prístup")</a>
                            <input type="submit" id="submitLoginButton" class="hidden" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="links">
                            <a href="@Url.Content(CurrentLang.GetText("Views/Login", "~/sk/nova-registracia"))">@CurrentLang.GetText("Views/Login", "Registrácia")</a>
                            <br>
                            <a href="@Url.Content(CurrentLang.GetText("Views/Login", "~/sk/clenska-sekcia/prihlasenie"))">@CurrentLang.GetText("Views/Login", "Prihlásiť")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
