@model PeterGlozikUmbracoOsobnaStranka.lib.Models.DashboardBlog.MemberBlogModel

<h1>Prajete si skutočne odstrániť svoj príspevok?</h1>
@{
    using (Html.BeginUmbracoForm<PeterGlozikUmbracoOsobnaStranka.lib.Controllers.DashboardBlog.BlogPostController>("DeleteRecord", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="osobnastranka-form">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Údaje sa nepodarilo uložiť. Prosím opravte chyby a skúste to znovu.")
            <div class="row">
                <div class="col-md-6">
                    <div class="form-item-hidden">
                        @Html.TextBoxFor(m => m.pk, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-item">
                        @Html.LabelFor(x => x.BlogName)
                        @Html.TextBoxFor(m => m.BlogName, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.BlogName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-item">
                        @Html.LabelFor(x => x.BlogWeb)
                        @Html.TextBoxFor(m => m.BlogWeb, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.BlogWeb)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-default btn-lg">Odstrániť</a>
                    <a href="@Url.Content("~/sk/clenska-sekcia/public-blog")" class="btn btn-default btn-lg">Späť</a>
                    <input type="submit" id="submitButton" class="hidden" />
                </div>
            </div>
        </div>
    }
}
