@model PeterGlozikUmbracoOsobnaStranka.lib.Models.DashboardBlog.BlogFilterModel

@{
    using (Html.BeginUmbracoForm<PeterGlozikUmbracoOsobnaStranka.lib.Controllers.DashboardBlog.BlogPostController>("SaveFilter", null, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="osobnastranka-form">
            <fieldset>
                <legend>Filter</legend>
                <div class="row">
                    <div class="col-md-12">
                        @Html.AntiForgeryToken()
                        <div class="form-item-hidden">
                            @Html.TextBoxFor(m => m.pk, new { @class = "form-control", @readonly = "readonly" })
                            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @readonly = "readonly" })
                            @Html.TextBoxFor(m => m.SessionId, new { @class = "form-control", @readonly = "readonly" })
                            @Html.TextBoxFor(m => m.PropId, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-item">
                            @Html.LabelFor(x => x.SearchText)
                            @Html.TextBoxFor(m => m.SearchText, new { @class = "form-control", placeholder = "", tabindex = 2 })
                            @Html.ValidationMessageFor(m => m.SearchText)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-item">
                            @Html.Partial("Layout/_ModelError", Model.ModelErrors)
                            <a href="#" onclick="document.getElementById('submitButton').click(); return false;" class="btn btn-default btn-lg">Načítať</a>
                            <input type="submit" id="submitButton" class="hidden" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    }
}
