@inherits UmbracoViewPage
<!DOCTYPE html>
<html lang="sk">
@Html.Partial("Layout/_HtmlHead")
<body>
    @Html.Partial("Layout/_Header")
    <div class="page-body">
        @RenderBody()
    </div>
    <div>
        @Html.Partial("Layout/_Footer")
        @Html.Partial("Layout/_Cookies")
        @Html.Partial("Layout/_HtmlScripts")
    </div>
    <!-- Chatbot HTML štruktúra -->
    <div id="chatbot">
        <button id="closeButton" onclick="toggleChatbot()">X</button>
        <div id="chatlog"></div>
        <div>
            <input type="text" id="userInput" placeholder="Napíšte správu..." onkeydown="if(event.key === 'Enter') sendMessage()">
            <button id="sendButton" onclick="sendMessage()">Odoslať</button>
        </div>
    </div>

    <button id="openButton" onclick="toggleChatbot()"><i class="fas fa-comments"></i></button>
</body>
</html>